@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.menu.navbar-sticky-moved-up {
  margin-top: -5rem;
}

.menu.navbar-sticky-moved-up.navbar-sticky-transitioned {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.menu.navbar-sticky-moved-up.navbar-sticky-transitioned.navbar-sticky-on {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  color: black;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #7146d0;
  border-radius: .5rem 0;
}

::-webkit-scrollbar-track {
  background: gray;
}

.container {
  max-width: 95%;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

.login button {
  font-size: 1.8rem;
  padding: .6rem 1.3rem;
  background: transparent;
  border: 1px solid;
  color: #ff7300;
  font-weight: 700;
}

.login button:hover {
  background: #ff7300;
  border: 1px solid;
  color: #fff;
}

.toggle {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.bars {
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 99999;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.995);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.995);
}

.bars::after,
.bars::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.295);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.295);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.bars::after {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.bars::before {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.toggle.open .bars {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toggle.open .bars::after {
  -webkit-transform: rotate(45deg) translate(-20px, 20px);
          transform: rotate(45deg) translate(-20px, 20px);
}

.toggle.open .bars::before {
  -webkit-transform: rotate(-45deg) translate(-20px, -20px);
          transform: rotate(-45deg) translate(-20px, -20px);
}

.item-wraper {
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  background: #140f0f;
  padding: 5rem 0 2rem 0rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 9999;
}

.item-wraper .fItem.login {
  display: block;
}

.item-wraper .fItem.login button {
  background: transparent;
  text-transform: uppercase;
  padding-left: 0;
}

.item-wraper .fItem a {
  color: #ffa500;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.8rem 2rem;
  display: block;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.item-wraper .fItem a:hover {
  background: black;
  border-radius: 2rem;
  padding-left: 4rem;
}

.item-wraper.active {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.menu-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  position: relative;
}

.logo {
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo a img {
  width: 7rem;
  height: auto;
}

.lebel.active i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fItem {
  position: relative;
}

.fItem .lebel {
  color: #ffa500;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.7rem 2rem;
  display: block;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: relative;
}

.fItem .lebel i {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.fItem .lebel .active i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fItem .lebel .active, .fItem .lebel:hover {
  background: black;
  border-radius: 2rem;
  padding-left: 2rem;
}

.fItem .dropdown {
  padding: 0;
  border-radius: 1rem !important;
  display: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: white;
  overflow: hidden;
}

.fItem .dropdown .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fItem .dropdown .brand a {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 140px;
          flex: 1 0 140px;
  margin: 1rem;
  height: 140px;
  line-height: 140px;
  text-align: center;
  padding: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.fItem .dropdown .brand a:hover {
  -webkit-box-shadow: 0 0rem 1rem .2rem #0b45bb;
          box-shadow: 0 0rem 1rem .2rem #0b45bb;
}

.fItem .dropdown .brand a img {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fItem .dropdown .brand a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.flag {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 1rem;
}

.flag a img {
  border-radius: 50% !important;
}

.language-btn a button {
  font-size: 1.8rem;
}

.language.open {
  display: block;
}

.login {
  display: none;
}

.profile {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.profile a {
  font-size: 2.9rem;
  color: #fff;
  padding-right: 1rem;
}

@media screen and (min-width: 320px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer ul li a {
    padding: 1rem;
    border: none !important;
  }
  .img-section img {
    -webkit-transition: 1s;
    transition: 1s;
    margin-top: 1rem;
    border-radius: .3rem;
  }
  .img-section .img-text {
    bottom: 5%;
    left: 3%;
    width: 100%;
  }
  .img-section .img-text span {
    font-size: 1.5rem !important;
    color: #fff;
    font-family: "Alfa Slab One", cursive;
  }
  .img-section .img-text span:last-child {
    font-size: 1rem !important;
  }
  .img-section .img-text .right-icon {
    font-size: 3rem !important;
    color: #fff;
    position: absolute;
    right: 7%;
    bottom: 10%;
  }
  .login-area.block {
    width: 40%;
    -webkit-transition: all .6s;
    transition: all .6s;
    opacity: 1;
    visibility: visible;
  }
  .login-area {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-shadow: 0 2rem 2rem 2rem rgba(0, 0, 0, 0.246);
            box-shadow: 0 2rem 2rem 2rem rgba(0, 0, 0, 0.246);
    z-index: 110;
    font-family: "Bebas Neue", cursive;
    width: 0%;
    -webkit-transition: all .6s;
    transition: all .6s;
    opacity: 0;
    visibility: hidden;
  }
  .login-area h1 {
    font-size: 3rem;
    font-family: "Bebas Neue", cursive;
    text-align: center;
    background: #DD2A7B;
    padding: 2rem 0;
    color: #fff;
    border-radius: 10px 0 0 0;
  }
  .login-area .login-input-area {
    margin-top: -1rem;
    padding: 2rem 0 2rem 3rem;
    background-color: rgba(0, 0, 0, 0.952);
    border-radius: 0 0 0 10px;
  }
  .login-area .login-input-area label {
    display: block;
    font-size: 2.5rem;
    color: #fff;
    margin: 1.9rem 0 0rem 0;
  }
  .login-area .login-input-area a {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .login-area .login-input-area a:hover {
    text-decoration: underline;
  }
  .login-area .login-input-area #submit {
    margin: 3rem 0;
    width: unset;
    padding: 1rem 3rem;
    text-align: center;
    background: transparent;
    color: #ffa500;
    border: 1px solid #ffa500;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .login-area .login-input-area #submit:hover {
    color: #fff;
    border: 1px solid #fff;
    letter-spacing: 2px;
    font-size: 2.3rem;
  }
  .login-area .login-input-area input {
    display: block;
    font-size: 2rem;
    padding: 1rem 0 1rem 1rem;
    width: 90%;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: unset;
  }
  .login-area .login-input-area input::-webkit-input-placeholder {
    color: #ffa500;
    opacity: .6;
  }
  .login-area .login-input-area input:-ms-input-placeholder {
    color: #ffa500;
    opacity: .6;
  }
  .login-area .login-input-area input::-ms-input-placeholder {
    color: #ffa500;
    opacity: .6;
  }
  .login-area .login-input-area input::placeholder {
    color: #ffa500;
    opacity: .6;
  }
  .login-area .login-input-area input:focus {
    -webkit-box-shadow: 0 0 1rem 0.2rem rgba(49, 49, 246, 0.589);
            box-shadow: 0 0 1rem 0.2rem rgba(49, 49, 246, 0.589);
    border: 2px solid #4267B2;
  }
}

@media screen and (min-width: 350px) {
  .logo a img {
    width: 10rem;
    height: auto;
  }
}

@media screen and (min-width: 480px) {
  .language-btn {
    margin-right: 7rem;
  }
  .logo a img {
    width: 11rem;
    height: auto;
  }
  .img-section img {
    -webkit-transition: 1s;
    transition: 1s;
    margin-top: 1rem;
    border-radius: .3rem;
  }
  .img-section .img-text {
    bottom: 5%;
    left: 3%;
    width: 100%;
  }
  .img-section .img-text span {
    font-size: 3rem !important;
    color: #fff;
    font-family: "Alfa Slab One", cursive;
  }
  .img-section .img-text span:last-child {
    font-size: 1.6rem !important;
  }
  .img-section .img-text .right-icon {
    font-size: 4rem !important;
    color: #fff;
    position: absolute;
    right: 7%;
  }
}

@media screen and (min-width: 600px) {
  .language-btn {
    margin-right: 14rem;
  }
  .menu-wraper {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .language-btn {
    margin-right: 7rem;
    margin-left: -1.3rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .login {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .profile {
    display: none;
  }
  .search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .search a img {
    padding-right: 1rem;
  }
  .flag {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .img-section img {
    -webkit-transition: 1s;
    transition: 1s;
    margin-top: 1rem;
    border-radius: .3rem;
  }
  .img-section .img-text {
    bottom: 5%;
    left: 3%;
    width: 100%;
  }
  .img-section .img-text span {
    font-size: 2rem !important;
    color: #fff;
    font-family: "Alfa Slab One", cursive;
  }
  .img-section .img-text span:last-child {
    font-size: 1.2rem !important;
  }
  .img-section .img-text .right-icon {
    font-size: 3rem !important;
    color: #fff;
    position: absolute;
    right: 7%;
  }
}

@media screen and (min-width: 1000px) {
  .social-icon {
    z-index: 100 !important;
    opacity: 1;
    visibility: visible;
  }
  .img-section img {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  .img-section img:hover {
    -webkit-filter: initial;
            filter: initial;
  }
  .img-section img {
    -webkit-transition: 1s;
    transition: 1s;
    margin-top: 1rem;
    border-radius: .3rem;
  }
  .img-section .img-text {
    bottom: 5%;
    left: 3%;
    width: 100%;
  }
  .img-section .img-text span {
    font-size: 3rem !important;
    color: #fff;
    font-family: "Alfa Slab One", cursive;
  }
  .img-section .img-text span:last-child {
    font-size: 1.6rem !important;
  }
  .img-section .img-text .right-icon {
    font-size: 4rem !important;
    color: #fff;
    position: absolute;
    right: 7%;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-pagination {
    z-index: 1 !important;
  }
  .toggle {
    display: none;
  }
  .language-btn {
    margin-right: 1rem;
    margin-left: -1.4rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .item-wraper {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: initial;
    top: initial;
    left: initial;
    height: initial;
    background: transparent;
    padding: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: initial;
    transition: initial;
  }
  .item-wraper .fItem.login {
    display: none;
  }
  .item-wraper .fItem .lebel {
    color: #ffa500;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 0;
    font-family: "Bebas Neue", cursive;
    display: initial;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    font-weight: bold;
    opacity: 0.7;
    margin: 0 .6rem;
  }
  .item-wraper .fItem .lebel::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: -4px;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .item-wraper .fItem .lebel:hover::after, .item-wraper .fItem .lebel .active {
    width: 100%;
    opacity: 1;
  }
  .item-wraper .fItem .lebel:hover {
    opacity: 1;
    background: transparent;
  }
  .item-wraper .fItem .lebel i {
    display: none;
  }
  .item-wraper .fItem a.active {
    opacity: 1;
  }
  .item-wraper .fItem a.active::after {
    width: 100%;
  }
  .item-wraper .fItem a {
    color: #ffa500;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 0rem;
    display: initial;
    font-family: "Bebas Neue", cursive;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    letter-spacing: 0px;
    font-weight: bold;
    opacity: 0.7;
    margin: 0 .6rem;
    position: relative;
  }
  .item-wraper .fItem a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: -4px;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .item-wraper .fItem a:hover::after, .item-wraper .fItem a .active {
    width: 100%;
    opacity: 1;
  }
  .item-wraper .fItem a:hover {
    background: transparent;
    padding-left: 0rem;
    opacity: 1;
  }
  .item-wraper .fItem.brandIist {
    position: relative;
  }
  .item-wraper .fItem.brandIist .dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 0rem;
    border-radius: 1rem !important;
    display: initial;
    background: #fff;
    overflow: hidden;
    opacity: 0;
    width: 600px;
    -webkit-transition: all .8s;
    transition: all .8s;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0);
            transform: scale(0);
    padding: 1rem 0;
    -webkit-box-shadow: 0 1rem 1rem 0.2rem rgba(0, 0, 0, 0.198);
            box-shadow: 0 1rem 1rem 0.2rem rgba(0, 0, 0, 0.198);
  }
  .item-wraper .fItem.brandIist .dropdown .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item-wraper .fItem.brandIist .dropdown .brand a {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    background-color: transparent;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100px;
            flex: 1 0 100px;
    margin: .5rem;
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding: 0 !important;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .item-wraper .fItem.brandIist .dropdown .brand a:hover {
    -webkit-box-shadow: 0 0rem 1rem .2rem #0b45bb;
            box-shadow: 0 0rem 1rem .2rem #0b45bb;
  }
  .item-wraper .fItem.brandIist .dropdown .brand a img {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  .item-wraper .fItem.brandIist .dropdown .brand a:hover img {
    -webkit-filter: initial;
            filter: initial;
  }
  .item-wraper .fItem {
    position: relative;
  }
  .item-wraper .fItem:hover > .lebel {
    opacity: 1;
  }
  .item-wraper .fItem:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .item-wraper .fItem .dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 0rem;
    border-radius: 1rem !important;
    display: initial;
    background: #fff;
    overflow: hidden;
    opacity: 0;
    width: 180px;
    -webkit-transition: all .8s;
    transition: all .8s;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0);
            transform: scale(0);
    padding: 1rem 0;
    -webkit-box-shadow: 0 1rem 1rem 0.2rem rgba(0, 0, 0, 0.198);
            box-shadow: 0 1rem 1rem 0.2rem rgba(0, 0, 0, 0.198);
  }
  .item-wraper .fItem .dropdown a {
    display: block;
    padding: .5rem 0 .5rem 1.5rem;
    margin: 0;
    color: black;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .item-wraper .fItem .dropdown a:hover {
    color: #fff;
    background: black;
    padding-left: 2.5rem !important;
  }
}

@media screen and (min-width: 1285px) {
  .language-btn {
    margin-right: 5rem;
    margin-left: -1.3rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .item-wraper .fItem.login .fItem .lebel {
    margin: 0 .7rem;
  }
  .item-wraper .fItem.login .fItem a {
    margin: 0 .7rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

.btn.btn-primary {
  color: #ffa500;
  background-color: transparent;
  border-color: #ffa500;
  font-size: 1.9rem;
  padding: .4rem 1.5rem;
  font-weight: 700;
  position: relative;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 5px;
}

.btn.btn-primary:hover {
  border: 1px solid #fff;
  color: #fff;
}

.btn.btn-primary:hover::after {
  height: 100%;
}

.btn.btn-primary::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #ffa500;
  position: absolute;
  z-index: -1;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}

.swiper {
  width: 100%;
  height: 90%;
  position: relative;
}

.swiper-slide.slider-1 {
  background: url(img/slider2.jpg);
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide.slider-2 {
  background: url(img/slider1.jpg);
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide.slider-3 {
  background: url(img/slider3.jpg);
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide.slider-4 {
  background: url(img/slider4.jpg);
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
  left: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 4px;
  display: block;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f36303;
  opacity: .2;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  height: 30px;
  border-radius: 10px;
}

.right-area button {
  margin-left: -5px;
  font-size: 1.5rem;
}

.dropdown-toggle::after {
  display: none;
}

.none {
  display: none;
}

.search {
  margin-right: 5px;
  cursor: pointer;
}

.search-area.block {
  display: block;
}

.search-area .search-none {
  position: absolute;
  top: -3%;
  right: 1%;
  font-size: 3rem;
  cursor: pointer;
}

.search-area {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 3rem;
  border-radius: 5px;
}

.search-area .search-none {
  position: absolute;
  top: -3%;
  right: 1%;
  font-size: 3rem;
  cursor: pointer;
}

.search-area .search-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-menu {
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.366);
          box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.366);
}

.language.block {
  display: block;
}

.language {
  background: #fff;
  border-radius: 10px;
  width: 75%;
  margin: auto;
  display: none;
}

.language h1 {
  text-align: center;
  font-size: 3rem;
  background: #cac4c5;
  padding: 1rem;
  border-radius: 10px;
}

.language .language-wraper {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.language .language-wraper span {
  font-size: 2rem;
  padding: 1rem;
}

.bottom-btn {
  position: absolute;
  bottom: 5%;
  left: 3%;
  width: 94%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bottom-btn .btn.btn-primary {
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: .6rem;
  color: #fff;
}

.bottom-btn .btn.btn-primary:nth-child(1) {
  margin-left: 0;
}

.social-icon {
  position: fixed;
  bottom: 5%;
  right: 0;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 2rem 2rem 2rem rgba(0, 0, 0, 0.246);
          box-shadow: 0 2rem 2rem 2rem rgba(0, 0, 0, 0.246);
  z-index: -1;
  opacity: 0;
  overflow: hidden;
}

.social-icon a {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.social-icon a:nth-child(1) {
  background: #4267B2;
  color: #fff;
}

.social-icon a:nth-child(2) {
  background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
  color: #fff;
}

.social-icon a:nth-child(3) {
  background: #1DA1F2;
  color: #fff;
}

.social-icon a:nth-child(4) {
  background: #FF0000;
  color: #fff;
}

.img-section img {
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 1rem;
  border-radius: .3rem;
}

.img-section .img-text {
  bottom: 5%;
  left: 3%;
  width: 100%;
}

.img-section .img-text span {
  font-size: 3rem;
  color: #fff;
  font-family: "Alfa Slab One", cursive;
}

.img-section .img-text span:last-child {
  font-size: 1.6rem;
}

.img-section .img-text .right-icon {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  right: 7%;
}

.container1 {
  width: 75%;
  margin: auto;
}

.container1 h1 {
  font-size: 4rem;
  font-family: "Alfa Slab One", cursive;
}

.container1 .brand-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container1 .brand-wraper .brand-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 130px;
  height: 130px;
  margin: 1rem;
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.171);
  line-height: 130px;
  -webkit-box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.27);
          box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.27);
}

.container1 .brand-wraper .brand-name:hover {
  -webkit-filter: initial;
          filter: initial;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.367);
          box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.367);
}

.container1 .brand-wraper .brand-name img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .6s;
  transition: .6s;
}

.container1 .brand-wraper .brand-name img:hover {
  -webkit-filter: initial;
          filter: initial;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.container1 .brand-wraper .resize:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: initial;
          filter: initial;
}

.container1 .brand-wraper .resize img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.about-section {
  background: url(img/aboutbg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

.about-section h2 {
  text-align: center;
  padding: 3rem;
  text-transform: uppercase;
  font-weight: "Alfa Slab One", cursive;
  font-size: 3rem;
}

.about-section p {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 2.6rem;
}

.about-section h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.video-section {
  margin: 5rem 0 !important;
}

.video-section .btn.btn-primary.mb-5 {
  color: #2bc110;
  border-color: #2bc110;
  z-index: 1;
}

.video-section .btn.btn-primary.mb-5:hover {
  color: #fff;
}

.video-section .btn.btn-primary.mb-5:hover::after {
  background: #2bc110 !important;
  z-index: -1;
}

.video-section .video-title {
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
  padding-top: 3rem;
}

.video-section .video-container {
  margin: 2rem 0;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

.video-section .video-container .youtube-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.reach-out {
  font-family: "Oswald", sans-serif;
  background: #011627 !important;
}

.reach-out .rtitle {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0;
  font-family: "Oswald", sans-serif;
}

.reach-out .map-area h3 {
  font-size: 2.3rem;
  font-family: "Oswald", sans-serif;
  color: #4267B2;
  padding: 1rem 0;
}

.reach-out .map-area p {
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
}

.reach-out .map-area .map {
  max-width: 100%;
  width: 100%;
  max-height: 250px;
  height: 250%;
  border-radius: 4px;
  margin: 2rem 0;
}

.reach-out .map-area .map iframe {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  border-radius: 4px;
}

.form-area h3 {
  font-size: 2.5rem;
  color: #4267B2;
  margin-bottom: 1rem;
}

.form-area p {
  font-size: 1.6rem;
  margin: .5rem 0 3rem 0;
  line-height: 2.5rem;
}

.form-area form input, .form-area form textarea {
  font-size: 1.7rem;
  padding: 1rem 0 1rem 1rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.form-area form .btn.btn-primary.color {
  color: #4267B2;
  border-color: #4267B2;
  font-size: 2rem;
  padding: .7rem 2.4rem;
}

.form-area form .btn.btn-primary.color:hover {
  color: #fff;
  border: 1px solid #4267B2;
}

.form-area form .btn.btn-primary.color:hover::after {
  background: #4267B2 !important;
}

.address h3 {
  font-size: 2.5rem;
  color: #4267B2;
  margin-bottom: 2rem;
}

.address p {
  font-size: 1.6rem;
}

footer {
  font-family: "Oswald", sans-serif;
}

footer p {
  font-size: 1.4rem;
}

footer img {
  margin: 2rem 0;
}
/*# sourceMappingURL=style.css.map */